* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Kumbh Sans;
  background-color: hsl(0, 0%, 100%);

  /* padding: 20px 50px; */
}
header {
  width: 85vw;
  height: 15vh;
  margin: 10px auto 80px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 2px hsl(220, 14%, 75%);
  /* overflow: hidden; */
  object-fit: contain;
}
nav {
  display: flex;

  padding-top: 16px;
  align-items: center;
}
.logo {
  font-size: 32px;
  font-weight: 700;
  margin-right: 50px;
  margin-left: 5px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin-left: 30px;
  font-size: 1em;
  color: hsl(220, 14%, 75%);
  font-weight: 400;
}
nav img {
  position: absolute;
}
.cart-1 {
  width: 20px;

  object-fit: contain;
  left: 80%;
}
.display-pics {
  width: 30px;
  object-fit: contain;
  left: 90%;
  /* margin-right: 1000px; */
}
.hero {
  width: 85vw;
  min-height: 100vh;
  max-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto 0; */
}

.product-img {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.copy-cart {
  display: flex;
  flex-direction: column;
}

.hero img {
  width: 450px;
  height: auto;
  border-radius: 20px;
}

.thumbnail {
  width: 450px;
  height: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.thumbnail img {
  width: 95px;
  height: auto;
  border-radius: 10px;
  border: 2px solid hsla(0, 0%, 100%);

  /* transition: border-color 0.3 ease opacity 0.3 ease; */
}

.thumbnail img:hover {
  border-color: hsla(26, 100%, 55%, 1);
  /* filter: opacity(25%); */
  opacity: 0.5;
}

.heading {
  color: hsl(26, 100%, 55%);
  font-size: 12px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}

.copy {
  color: hsl(219, 9%, 45%);
  line-height: 1.5;
  margin-bottom: 25px;
}
.discounted-amt {
  width: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.current-price {
  font-size: 20px;
  font-weight: 700;
}
.percent-discount {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  width: 30px;
  font-size: 12px;
  font-weight: 700;

  text-align: center;
}

.original-price {
  font-size: 12px;
  text-decoration: line-through;
  color: hsl(219, 9%, 45%);
  font-weight: 700;
}

.price {
  margin-bottom: 30px;
}
.add-to-cart {
  display: flex;
}
.btn-counter {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: hsla(220, 14%, 75%, 0.2);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin-right: 20px;
}
.count-change {
  flex: 1;
  text-align: center;
}

.counter {
  color: hsl(0, 0%, 0%);
  text-align: center;
  font-weight: 700;
}
#minus-icon,
#plus-icon {
  width: 12px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.button {
  display: inline-block;
  padding: 10px 5px;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}

.button img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: auto;
}
.button span {
  display: inline-block;
  vertical-align: middle;
}
