* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Kumbh Sans;
  background-color: hsl(0, 0%, 100%);
  max-width: 100vw;
  max-height: 100vh;
  /* overflow: hidden; */
}
.overlay {
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 0%);
  opacity: 75%;
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 0;
}
header {
  width: 85vw;
  height: 16vh;
  margin: 10px auto 30px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 2px hsl(220, 14%, 75%);
  object-fit: contain;
  position: relative;
  display: flex;
  align-items: center;
}
.menu,
.close {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
}
.logo {
  font-size: 38px;
  font-weight: 700;
  margin-right: 50px;
  text-align: center;
  margin-left: 5px;
}
ul.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.nav-menu li {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-size: 18px;
  color: hsl(220, 14%, 75%);
  font-weight: 400;
  height: 100%;
  /* background-color: aqua; */
}
.nav-menu li:hover {
  cursor: pointer;
  color: hsl(0, 0%, 0%);
  border-bottom: 4px solid hsl(26, 100%, 55%);
}
.cart-profile {
  width: 80px;
  position: absolute;
  right: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.num-checkout {
  width: 100px;
  /* background-color: red; */
  display: flex;
  position: relative;
}

.checkout-amt {
  text-align: center;
  font-size: 12px;
  padding: 1px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(26, 100%, 55%);
  width: 18px;
  height: 14px;
  border-radius: 40%;
  position: absolute;
  top: -39%;
  left: 20%;
}

.cart-1 {
  width: 20px;
  cursor: pointer;
  object-fit: contain;
}
.cart-1:hover {
  filter: brightness(0) invert(0);
}

.display-pics {
  width: 35px;
  object-fit: contain;
}
.display-pics:hover {
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

.card {
  width: 280px;
  height: 195px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  right: 7%;
  top: 100px;
  box-shadow: 1px 6px 10px hsla(0, 0%, 0%, 0.5);
  display: flex;
  flex-direction: column;
}
section .checkout-card {
  height: 70px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border-radius: 5px 5px 0 0;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0 1px 2px hsl(220, 14%, 75%);
}
.cart-empty {
  height: inherit;
  font-size: 18px;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-filled {
  height: inherit;
  padding: 15px 15px 20px;
  font-size: 13px;
  /* font-weight: 700; */
  color: hsl(219, 9%, 45%);
}

.cart-description {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.shopped-icon {
  width: 45px;
  border-radius: 5px;
  height: auto;
  object-fit: contain;
  margin-right: 10px;
}
.shopped-description {
  margin-right: 7px;
}
.amount {
  margin-top: 5px;
}
.gross-total {
  font-weight: 700;
  color: hsl(0, 0%, 0%);
  margin-left: 7px;
}
.checkout {
  width: 95%;
  height: 40px;
  margin-left: 5px;
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.delete-icon {
  width: 12px;
  object-fit: contain;
}
.delete-icon:hover {
  cursor: pointer;
}

.hero {
  width: 85vw;
  min-height: 100vh;
  max-height: max-content;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  /* align-items: center; */
}

.sneakers-product {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

div.main-img {
  position: relative;
  width: 450px;
  height: 450px;
  overflow: hidden;
  margin-right: 200px;
  /* background-color: aquamarine; */
}

.sneakers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 10px;
}

.directions {
  /* padding: 0 15px 0; */
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.direction {
  background-color: hsl(0, 0%, 100%);
  height: 40px;
  width: 40px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.direction:hover {
  cursor: pointer;
}
.direction:hover .dir-icon {
  filter: invert(55%) sepia(23%) saturate(3184%) hue-rotate(348deg);
  cursor: pointer;
}
.dir-icon {
  width: 12px;
}

.popped-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

div.popped-img-icon {
  width: 500px;
  height: 500px;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popped-icon {
  width: 105%;
}
.pop-sneakers {
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  position: absolute;
}
.pop-thumbnail img {
  width: 90px;
}

.pop-close {
  width: 12px;
  position: absolute;
  top: -5%;
  right: 25px;
  filter: brightness(0) invert(1);
}
.pop-close:hover {
  filter: invert(55%) sepia(23%) saturate(3184%) hue-rotate(348deg)
    brightness(102%) contrast(101%);
  cursor: pointer;
}

.thumbnail {
  width: 450px;
  height: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.thumbnail img {
  width: 95px;
  height: auto;
  border-radius: 10px;
  /* border: 3px solid hsla(0, 0%, 100%); */
}

div.orange-border {
  width: fit-content;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
div.orange-border:hover::before {
  content: '';
  position: absolute;
  border-radius: 7px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
}

div.orange-border.active::before {
  content: '';
  position: absolute;
  border-radius: 7px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
}
div.orange-border.active {
  border: 2px solid hsl(26, 100%, 55%);
}

.copy-cart {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 500px;
  height: 450px;
  padding-top: 50px;
  justify-content: space-between;
}

.heading {
  color: hsl(26, 100%, 55%);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.5px;
  word-spacing: 4px;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  word-spacing: 5px;
  letter-spacing: 1.5px;
  width: 100%;
}

.copy {
  color: hsl(219, 9%, 45%);
  line-height: 1.5;
  width: 100%;
  letter-spacing: 1px;
}
.discount {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.discounted-amt {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  margin-bottom: 10px;
}

.current-price {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
}
.percent-discount {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 3px;
  width: 45px;
  height: fit-content;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 7%;
  left: 75%;
}

.original-price {
  font-size: 18px;
  text-decoration: line-through;
  color: hsla(219, 9%, 45%, 0.5);
  font-weight: 700;
}

.add-to-cart {
  display: flex;
  justify-content: space-between;
}
.btn-counter {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: hsla(220, 14%, 75%, 0.2);
  width: 200px;
  height: 40px;
  border-radius: 10px;
}
.count-change {
  flex: 1;
  text-align: center;
}

.counter {
  color: hsl(0, 0%, 0%);
  text-align: center;
  font-weight: 700;
}
#minus_icon,
#plus_icon {
  width: 12px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

#minus_icon:hover,
#plus_icon:hover {
  opacity: 80%;
  cursor: pointer;
}

.shopping-cart {
  filter: brightness(0) invert(1);
}

.button {
  display: inline-block;
  padding: 10px 5px;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: white;
  text-align: center;
  word-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

.button img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: auto;
}
.button span {
  display: inline-block;
  vertical-align: middle;
}
.button:hover {
  filter: opacity(65%);
}

.active {
  display: block;
}
.popped-img {
  display: none;
}

.hidden {
  display: none;
}

/* MOBILE VERSION */

@media (max-width: 450px) {
  * {
    margin: 0;
  }

  header {
    margin: 0;
    width: 100vw;
    height: 10vh;
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: static;
  }

  .menu,
  .close {
    display: block;
  }
  .menu {
    margin-right: 16px;
  }

  ul.nav-menu {
    width: 65vw;
    height: 150vh;
    background-color: hsl(0, 0%, 100%);
    padding-top: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .nav-menu li {
    height: fit-content;
    margin-bottom: 25px;
    font-size: 25px;
    color: hsl(0, 0%, 0%);
    font-weight: 700;
  }
  .nav-menu li:hover {
    color: hsl(220, 14%, 75%);
    border-bottom: none;
  }

  ul.nav-menu {
    display: none;
  }

  #close-icon {
    margin-bottom: 70px;
  }
  .cart-profile {
    right: 5%;
  }

  .card {
    width: 95vw;
    height: 300px;
    top: 10%;
    left: 2.5%;
    z-index: 10;
  }
  .cart-filled {
    padding: 25px 15px 5px;
    font-size: 18px;
    color: hsl(219, 9%, 45%);
  }

  .cart-description {
    margin-bottom: 45px;
  }

  .shopped-icon {
    width: 60px;
    margin-right: 10px;
  }
  .shopped-description {
    margin-right: 10px;
  }
  .amount {
    margin-top: 5px;
  }

  .checkout {
    width: 95%;
    height: 60px;
    margin-left: 10px;
    font-size: 20px;
    /* margin-top: 20px; */
  }

  .delete-icon {
    width: 16px;
  }

  .hero {
    flex-direction: column;
    width: 100vw;
    margin: 0;
  }

  .product-img {
    display: none;
  }
  .popped-img {
    position: static;
    z-index: 0;
    margin: 0;
    display: block;
    height: 420px;
  }
  div.popped-img-icon {
    position: relative;
    width: 100vw;
  }

  .pop-close {
    display: none;
  }

  .directions {
    padding: 0 15px 0;
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .sneakers {
    border-radius: 0;
    width: 100vw;
    height: auto;
    margin-bottom: 0;
  }

  .thumbnail {
    display: none;
  }
  .copy-cart {
    width: 100vw;
    height: auto;
    margin-top: 0px;
    padding: 0 20px 150px;
    letter-spacing: 0;
    word-spacing: 0;
  }

  .heading {
    word-spacing: 0px;
    margin-bottom: 15px;
  }

  .subtitle {
    font-size: 32px;
    letter-spacing: 0;
    word-spacing: 0;
    margin-bottom: 25px;
  }

  .copy {
    letter-spacing: 0;
    word-spacing: 0;
    margin-bottom: 20px;
  }

  .add-to-cart {
    flex-direction: column;
    margin-right: 10px;
  }
  .btn-counter,
  .button {
    width: 90vw;
    height: 50px;
  }
  .btn-counter {
    margin-bottom: 20px;
    height: 50px;
  }
  .original-price {
    margin: 20px;
    font-size: 16px;
  }
  .discount {
    width: 90vw;
    justify-content: center;
  }

  .discounted-amt {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .percent-discount {
    left: 40%;
    top: 25%;
  }
}
